extends layout

block content
  .page-header
    h3 Submit
  form.form-horizontal(id='signup-form', method='POST')
    input(type='hidden', name='_csrf', value=_csrf)
    .form-group
      label.col-sm-3.control-label(for='url') URL
      .col-sm-7
        input.form-control(type='url', name='url', id='url', placeholder='http://ideone.com/xxxxxx', autofocus)
    .form-group
      .col-sm-offset-3.col-sm-7
        button.btn.btn-success(type='submit')
          span.ion-person-add Submit
